<h1>Pages#pag2</h1>
<p>Find me in app/views/pages/pag2.html.erb</p>

<%= image_tag 'worship-me.jpg'%>
<%= image_tag 'potter.png'%>

<ul>
<% @users.each do |alumno| %>
	<li> <%=alumno %> </li>
	<% end %>
</ul>



